body {
  font-family: Arial, sans-serif;
  background-color: #FF0000;
}

h1 {
  color: #333;
  text-align: center;
}

p {
  color: #777;
}

.horizontal_line {
          background-color: green;
        	width: 90%;
        	height: 5px;
            border-top: 5px dotted black;
            line-height: 80%;
    	}
 
    	.line {
            border-bottom: 5px solid red;
            margin-top: 5px;
        	width: 90%;
    	}

