<!-- Header -->
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1> Discover More </h1>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col">
      <h4>loganbe.18@gmail.com </h4>
    </div>
    <div class="col">
      <h4> Logan A. Becker </h4>
    </div>
    <div class="col">
      <h4> University of Texas At Austin </h4>
    </div>
  </div>
</div>
<hr class="class-1" />

<!-- Navbar -->
<div class="container-sm text-center">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link {% if page.url == '/' or page.url == '/index.html' %}active{% endif %}" 
             aria-current="page" href="{{ '/' | relative_url }}">Home</a>
          <a class="nav-link {% if page.url == '/cv/' or page.url == '/cv.html' %}active{% endif %}" 
             href="{{ '/cv/' | relative_url }}">CV</a>
        </div>
      </div>
    </div>
  </nav>
</div>

